<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBc5BnzWKGqxFq02VKPhfrL9oRDC3iBIpg</string>
	<key>GCM_SENDER_ID</key>
	<string>496387316748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseNoteProvider</string>
	<key>PROJECT_ID</key>
	<string>note-provider-1352e</string>
	<key>STORAGE_BUCKET</key>
	<string>note-provider-1352e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496387316748:ios:063fd5b6dd3b597737e229</string>
</dict>
</plist>